h1 {
font-size: 24px;
font-family: "Meiryo";
}

h2 {
font-size: 20px;
font-family: "Meiryo";
margin-top: 2rem;
margin-bottom: 1rem;
}

h3 {
margin-top: 1.5em;
font-size: 18px;
font-family: "Meiryo";
}

h4 {
margin-top: 1.5em;
font-size: 16px;
font-family: "Meiryo";
}

p {
font-size: 15px;
font-family: "Meiryo";
margin-bottom: 1rem;
}

ul {
font-size: 13.5px;
font-family: "Meiryo";
}

ol {
font-size: 13.5px;
font-family: "Meiryo";
}

li {
font-size: 13.5px;
font-family: "Meiryo";
}

.math{
font-size: 13px;
line-height: 14px;
}